.signUpContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background-image-1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-color: var(--color-white);

  .signUpFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    .signUpLogo {
      margin-top: 10px;
      width: 100px;
      border-radius: 55%;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
      cursor: pointer;
    }

    .signUpText {
      margin-bottom: 10px;
      color: var(--color-black);
    }

    .signUpForm {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 80%;
      margin-bottom: 20px;

      .signUpFormTextAndInputContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        border-radius: 5px;
        margin-bottom: 15px;

        &:hover {
          border: solid rgb(240, 240, 240) 2px;
        }

        .signUpFormText {
          text-align: left;
          margin-top: 5px;
          margin-bottom: 0px;
          margin-left: 5px;
          font-size: 0.8em;
          color: rgb(34, 34, 34);
          padding: 0%;

        }

        .signUpFormInput {
          border: none;
          height: 30px;
          // margin-top: none;
          width: 98%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1px;
          font-size: 1.2em;
          background-color: transparent;

          &:focus {
            outline: none;
            background-color: transparent;
          }

        }
      }

      .signUpBtn {
        padding: 15px 12px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        background-color: #ff1616;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bb1616 0 -3px 0 inset;


        &:hover {
          cursor: pointer;
          background-color: black;
          box-shadow: #D6D6E7 0 3px 7px inset;
          transform: translateY(2px);
        }
      }
    }

  }

}
.signUpContainer::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 2000px) {
  .signUpContainer {
    background-size: 100% 90%;

    .signUpFormContainer {
      width: 40%;

      .signUpLogo {
        width: 100px;
      }
  
      .signUpForm {
        width: 90%;
  
        .signUpFormTextAndInputContainer {
  
          .signUpFormText {
            font-weight: 600;
  
          }
  
          .signUpFormInput {
            font-size: 1.2em;
          }
        }
  
        .signUpBtn {
          padding: 10px 8px;
          width: 25%;
        }
      }
  
    }
  
  }
}

@media screen and (max-width: 1080px) {
  .signUpContainer {
    background-size: 100% 70%;

    .signUpFormContainer {
      width: 50%;

      .signUpLogo {
        width: 80px;
      }
  
      .signUpForm {
        width: 90%;
  
        .signUpFormTextAndInputContainer {
  
          .signUpFormText {
            font-weight: 600;
  
          }
  
          .signUpFormInput {
            font-size: 1.2em;
          }
        }
  
        .signUpBtn {
          padding: 10px 8px;
          width: 35%;
        }
      }
  
    }
  
  }
}

@media screen and (max-width: 900px) {
  .signUpContainer {
    background-size: 100% 60%;

    .signUpFormContainer {
      width: 60%;

      .signUpLogo {
        width: 80px;
      }
  
      .signUpForm {
        width: 90%;
  
        .signUpFormTextAndInputContainer {
  
          .signUpFormText {
            font-weight: 600;
  
          }
  
          .signUpFormInput {
            font-size: 1.2em;
          }
        }
  
        .signUpBtn {
          padding: 10px 8px;
          width: 35%;
        }
      }
  
    }
  
  }
}

@media screen and (max-width: 650px) {
  .signUpContainer {
    background-size: 100% 40%;

    .signUpFormContainer {
      width: 90%;

      .signUpLogo {
        width: 80px;
      }
  
      .signUpForm {
        width: 90%;
  
        .signUpFormTextAndInputContainer {
  
          .signUpFormText {
            font-weight: 600;
  
          }
  
          .signUpFormInput {
            font-size: 1em;
          }
        }
  
        .signUpBtn {
          padding: 10px 8px;
          width: 35%;
        }
      }
  
    }
  
  }
}