.resetPasswordContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/background-image-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-white);

    .resetPasswordFormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-top: 10px;
        background-color: var(--color-white);
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

        .resetPasswordLogo {
            cursor: pointer;
            width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 100%;
            margin-left: 15px;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

        }

        .resetPasswordText {
            text-align: center;
            color: var(--color-black);
            margin-bottom: 30px;
            font-size: 1.2em;
            margin-left: 5px;
            margin-right: 5px;
        }

        .resetPasswordForm {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 90%;
            display: flex;
            flex-direction: column;

            .resetPasswordFormTextAndInputContainer {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                border-radius: 5px;
                margin-bottom: 15px;

                &:hover {
                    border: solid rgb(240, 240, 240) 2px;
                }

                .resetPasswordFormText {
                    text-align: left;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    font-size: 0.8em;
                    color: rgb(34, 34, 34);
                    padding: 0%;
                }

                .resetPasswordFormInput {
                    border: none;
                    height: 30px;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1px;
                    font-size: 1.2em;
                    background-color: transparent;

                    &:focus {
                        outline: none;
                        background-color: transparent;
                    }


                }
            }

            .resetPasswordBtn {
                padding: 12px 10px;
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                width: 30%;
                background-color: #ff1616;
                box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bb1616 0 -3px 0 inset;


                &:hover {
                    cursor: pointer;
                    background-color: black;
                    box-shadow: #D6D6E7 0 3px 7px inset;
                    transform: translateY(2px);
                }
            }
        }


    }

}

@media screen and (max-width: 2000px) {
    .resetPasswordContainer {

        .resetPasswordFormContainer {
            width: 30%;


            .resetPasswordText {
                font-size: 1.4em;
            }

            .resetPasswordForm {
                width: 90%;

                .resetPasswordFormTextAndInputContainer{
                    width: 100%;
            
                    .resetPasswordFormText{
                        font-size: 0.7em;
                        font-weight: 600;
            
                    }
            
                    .resetPasswordFormInput{
                      font-size: 1em;
                    }
                }
            
            }
        }
    }
  }
  
  @media screen and (max-width: 1080px) {
    .resetPasswordContainer {

        .resetPasswordFormContainer {
            width: 40%;


            .resetPasswordText {
                font-size: 1.4em;
            }

            .resetPasswordForm {
                width: 90%;

                .resetPasswordFormTextAndInputContainer{
                    width: 100%;
            
                    .resetPasswordFormText{
                        font-size: 0.7em;
                        font-weight: 600;
            
                    }
            
                    .resetPasswordFormInput{
                      font-size: 1em;
                    }
                }
            
            }
        }
    }
  }
  
  @media screen and (max-width: 900px) {
    .resetPasswordContainer {

        .resetPasswordFormContainer {
            width: 60%;

            .resetPasswordText {
                font-size: 1.4em;
            }

            .resetPasswordForm {
                width: 90%;

                .resetPasswordFormTextAndInputContainer{
                    width: 100%;
            
                    .resetPasswordFormText{
                        font-size: 0.7em;
                        font-weight: 600;
            
                    }
            
                    .resetPasswordFormInput{
                      font-size: 1em;
                    }
                }
            }


        }


    }
  }
  
  @media screen and (max-width: 650px) {
    .resetPasswordContainer {

        .resetPasswordFormContainer {
            width: 90%;

            .resetPasswordText {
                font-size: 1.4em;
            }

            .resetPasswordForm {
                width: 100%;

                .resetPasswordFormTextAndInputContainer{
                    width: 90%;
            
                    .resetPasswordFormText{
                        font-size: 0.7em;
                        font-weight: 600;
            
                    }
            
                    .resetPasswordFormInput{
                      font-size: 1em;
                    }
                }
            }


        }


    }
  }

