.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/background-image-1.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: var(--color-white);

    .home_logo_and_links_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-red);
        width: 20%;
        border-radius: 50px;
        justify-content: space-between;
        margin-top: 40vh;
        margin-bottom: 25px;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);

        .home_logo {
            width: 120px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 100%;
            margin-left: 15px;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

        }

        .home_links_container {
            display: flex;
            flex-direction: row;
            margin-right: 20px;
            align-items: center;
            height: 50px;

            .home_login_link {
                background-color: white;
                color: var(--color-black);
                padding: 10px 12px;
                border-radius: 10px;
                text-align: center;
                height: 50px;
                margin-right: 25px;
                box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

                &:hover {
                    background-color: black;
                    color: white;
                    box-shadow: #D6D6E7 0 3px 7px inset;
                    transform: translateY(2px);
                }
            }

            .home_sign_up_link {
                background-color: white;
                color: var(--color-black);
                padding: 10px 12px;
                border-radius: 10px;
                text-align: center;
                height: 50px;
                box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

                &:hover {
                    background-color: black;
                    color: white;
                    box-shadow: #D6D6E7 0 3px 7px inset;
                    transform: translateY(2px);
                }
            }
        }
    }

    .home_page_body {
        text-align: center;

        .home_heading {
            text-transform: uppercase !important;
            background-color: var(--color-black);
            color: var(--color-white);

            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
            background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
            box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
        }

        .home_body_text {
            margin-top: 65px;
            font-size: 1.4em;
        }
    }

    .home_get_started_link {
        padding: 15px 12px;
        border-radius: 10px;
        font-size: large;
        margin-top: 50px;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, black 0 -3px 0 inset;


        &:hover {
            background-color: black;
            color: white;
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }
    }
}


@media screen and (max-width: 2000px) {
    .home_wrapper {
        background-size: 100% 70%;

        .home_logo_and_links_wrapper {
            width: 30%;
            margin-top: 15%;

            .home_logo {
                width: 90px;
            }

            .home_links_container {
                .home_login_link {
                    padding: 8px 10px;
                    font-size: 0.9em;
                    height: 40px;
                }

                .home_sign_up_link {
                    padding: 8px 10px;
                    font-size: 0.9em;
                    height: 40px;
                }
            }
        }

        .home_page_body {
            margin-top: 8%;
            margin-left: 5px;
            margin-right: 5px;

            .home_heading {
                font-size: 40px;
            }

            .home_body_text {
                margin-top: 30px;
                letter-spacing: 0.32px;
                font-size: 20px;
            }
        }

        .home_get_started_link {
            padding: 12px 10px;

        }
    }
}

@media screen and (max-width: 900px) {
    .home_wrapper {
        background-size: 100% 55%;

        .home_logo_and_links_wrapper {
            width: 40%;
            margin-top: 15%;

            .home_logo {
                width: 90px;
            }

            .home_links_container {
                .home_login_link {
                    padding: 8px 10px;
                    font-size: 0.8em;
                    height: 40px;
                }

                .home_sign_up_link {
                    padding: 8px 10px;
                    font-size: 0.8em;
                    height: 40px;
                }
            }
        }

        .home_page_body {
            margin-top: 15%;
            margin-left: 5px;
            margin-right: 5px;

            .home_heading {
                font-size: 30px;
                line-height: 25px;
                letter-spacing: 0.04em;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                color: var(--color-red);
            }

            .home_body_text {
                margin-top: 30px;
                letter-spacing: 0.32px;
                font-size: 20px;
            }
        }

        .home_get_started_link {
            padding: 12px 10px;

        }
    }
}

@media screen and (max-width: 650px) {
    .home_wrapper {
        background-size: 100% 35%;

        .home_logo_and_links_wrapper {
            width: 85%;
            margin-top: 15%;

            .home_logo {
                width: 100px;
            }

            .home_links_container {
                .home_login_link {
                    padding: 8px 10px;
                    font-size: 0.8em;
                    height: 40px;
                }

                .home_sign_up_link {
                    padding: 8px 10px;
                    font-size: 0.8em;
                    height: 40px;
                }
            }
        }

        .home_page_body {
            margin-top: 15%;
            margin-left: 5px;
            margin-right: 5px;

            .home_heading {
                font-size: 22px;
                line-height: 25px;
                letter-spacing: 0.04em;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                color: var(--color-red);
            }

            .home_body_text {
                margin-top: 30px;
                letter-spacing: 0.32px;
                font-size: 15px;
            }
        }

        .home_get_started_link {
            padding: 12px 10px;

        }
    }
}