.alert_wrapper{
    margin-top: 5px;
    // position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: 15px;
    color: white;
    z-index: 99 !important; 
    

    .icon_and_message_wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;

        .alert_message{
            margin-left: 10px;
            font-size: 1.2em;
            font-weight: lighter;
        }
    }
    

}


@media screen and (max-width: 2000px) {
    .alert_wrapper{
        
        .icon_and_message_wrapper{
    
            .alert_message{
                font-size: 0.9em;
            }
        }
    
    }
}
@media screen and (max-width: 900px) {
    .alert_wrapper{
        
        .icon_and_message_wrapper{
    
            .alert_message{
                font-size: 0.9em;
            }
        }
    
    }
}
@media screen and (max-width: 650px) {
    .alert_wrapper{
        
        .icon_and_message_wrapper{
    
            .alert_message{
                font-size: 0.9em;
            }
        }
    
    }
}